DJANGO_SECRET_KEY=django-insecure-local-dev-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_LANGUAGE_CODE=ja
DJANGO_TIME_ZONE=Asia/Tokyo
POSTGRES_DB=nishimuraya
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DJANGO_EMAIL_BACKEND=
DJANGO_DEFAULT_FROM_EMAIL=noritake456@gmail.com
DJANGO_CONTACT_RECIPIENT_EMAIL=noritake456@gmail.com
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=noritake456@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_USE_SSL=False
