[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-doc = "*"
asgiref = "*"
click = "*"
colorama = "*"
django = "*"
django-tailwind-cli = "*"
django-typer = "*"
markdown-it-py = "*"
mdurl = "*"
psycopg = "*"
psycopg-binary = "*"
pygments = "*"
python-dotenv = "*"
rich = "*"
semver = "*"
shellingham = "*"
sqlparse = "*"
typer = "*"
tzdata = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.14"
