[Unit]
Description=Run Nishimuraya backup every day

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
RandomizedDelaySec=15m
Unit=nishimuraya-backup.service

[Install]
WantedBy=timers.target
